# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.egg-info/
*.egg

# Virtual environment
venv/
env/

# VSCode
.vscode/

# Node / React Native
node_modules/
npm-debug.log
yarn-error.log
dist/
.expo/

# OS files
.DS_Store
Thumbs.db
