# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
.env
*.log

# Node / React / Expo
node_modules/
npm-debug.log*
yarn-error.log*
.expo/
.web-build/
dist/
build/

# IDE / OS / Editors
.vscode/
.idea/
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace

# Git
*.orig
*.bak
*.tmp

# Testing / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
coverage.xml

# Misc
*.swp
*.swo

